# Copy this file to .env and update the values below

# Application Settings
APP_NAME=Lavalust
APP_KEY=
APP_ENV=development

# Database Configuration
DB_HOST=mysql-34556d63-lavalust-moraleda.j.aivencloud.com
DB_PORT=17210
DB_USER=avnadmin
DB_PASSWORD=your_aiven_password_here
DB_NAME=mydb
